
  
/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.out {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    color: white;
    padding-top: 1%;
}

.photo {
    width: 450px;
    height: 350px;
    border-radius: 200px;
}

.word {
    font-size: 130px;
    color: white;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}


/* mini */

.mini-out {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.mini-photo {
    width: 350px;
    height: 350px;
    border-radius: 60px;
}

.mini-word {
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
}
